@using WebTeam.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<WebTeam.Data.Article>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    var loggedInUserId = UserManager.GetUserId(User);
    var loggedInUser = await UserManager.FindByIdAsync(loggedInUserId);
}
@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagazineCover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedBacks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.submissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfLike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
    {
        if (item.AuthorID == loggedInUserId)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MagazineCover)
            </td>
            <td>
                @if (item.FeedBacks != null && item.FeedBacks.Any())
                {
                    foreach (var feedback in item.FeedBacks)
                    {
                        <p>@feedback.Content</p>
                    }
                }
                else
                {
                    <p>No feedback available</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfLike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a> |
                <a asp-action="Upload" asp-route-id="@item.ArticleId">Upload</a> |
                <a href="#" class="view-docx" data-article-id="@item.ArticleId">View DOCX</a> |
                <a asp-action="DownloadZip" asp-route-id="@item.ArticleId">Download Documents as ZIP</a>
            </td>
        </tr>
        }
    }
    </tbody>
</table>*@
@*@if (loggedInUser != null)
{
    var marketingCoordinators = await UserManager.GetUsersInRoleAsync("Marketing_coordinator");
    var marketingCoordinatorsInSameFaculty = marketingCoordinators.Where(mc => mc.FacultyId == loggedInUser.FacultyId);
    
    foreach (var marketingCoordinator in marketingCoordinatorsInSameFaculty)
    {
        <p>@marketingCoordinator.Email</p>
        @if (marketingCoordinator.Faculty != null)
        {
            <p>@marketingCoordinator.Faculty.FacultyName</p>
        }
        else
        {
            <p>No Faculty Assigned</p>
        }
    }
}*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/asset/img/taskbar.jpg">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boostrap 5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/asset/css/main.css">
    <link rel="stylesheet" href="~/asset/css/submission.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="~/asset/css/responsive.css">
    <title>Magazine of University</title>
</head>
<body>
    <section class="article_submission">
        <header>
            <section class="header_logo container">
                <div class="left">
                    <a class="home_icon" href="index.html"><i class="fa-solid fa-house"></i></a>
                    <div class="container_search">
                        <div class="icon_search">
                            <i class="search fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="input_search">
                            <input type="text" placeholder="search" id="search">
                            <i class="clear fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="brand_name">
                    <a href="index.html">Magazine of University</a>
                </div>
                <div class="right">
                    <button><i class="fa-solid fa-bell"></i></button>
                    <!-- <a href="login.html"><i class="fa-solid fa-user"></i></a> -->
                    <div class="dropdown">
                        <a class="btn dropdown_icon dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                            <li><a class="dropdown-item" href="submission.html">Submission</a></li>
                            <li><a class="dropdown-item" href="#">Recently seen</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="hero">
                <nav>
                    <ul>
                        <li>
                            <a class="category" href="#">Information Technology</a>
                            <ul class="submenu">
                                <li><a href="#">Computer Science</a></li>
                                <li><a href="#">Information Technology</a></li>
                                <li><a href="#">Computer Engineer</a></li>
                                <li><a href="#">Network Technology</a></li>
                                <li><a href="#">Software Engineer</a></li>
                                <li><a href="#">Management Information Systems</a></li>
                                <li><a href="#">Big Data & Machine Learning</a></li>
                                <li><a href="#">Data Communication and Computer Network</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="category" href="#">Business Administration</a>
                            <ul class="submenu">
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">International Bussiness</a></li>
                                <li><a href="#">Hotel Management</a></li>
                                <li><a href="#">Management Of Tourism and Travel Services</a></li>
                                <li><a href="#">Multimedia Management</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="category" href="#">Graphic & Digital Design</a>
                            <ul class="submenu">
                                <li><a href="#">Brand Identity Design</a></li>
                                <li><a href="#">Marketing Advertising Design</a></li>
                                <li><a href="#">Design UI/UX Interface</a></li>
                                <li><a href="#">Design Publications and Magazines</a></li>
                                <li><a href="#">Motion Graphic Design - Motion Graphics</a></li>
                                <li><a href="#">Art Illustration Design - Illustration Design</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>

        <main class="container">
            <div class="top_page">
                <p>HOME</p> <span></span>
                <p>ARTICLE SUBMISSIONS</p> <span></span>
                <p title="INFORMATION TECHNOLOGY">INFORMATION TECHNOLOGY</p>
            </div>
            <section class="announcements">
                <h3 class="title_announce">
                    ANNOUNCEMENTS
                </h3>
                <div class="content_announcements">
                    <p>
                        Dear Students, <br>
                        We would like to inform you about the subject and deadline for the self-selected paper within the field of information technology.
                    </p>
                    <p class="deadline">
                        <strong>Deadline:</strong> [Date/Month/Year], 11:59 PM <br>
                        Please ensure that you have completed and submitted your paper before the deadline. The system will automatically close at 11:59 PM and no submissions will be accepted thereafter. To avoid inconvenience, kindly adhere to the submission deadline.
                    </p>
                    <p class="requirment">
                        <strong>Essay Requirements:</strong> <br>
                        <span>Choose one of the following topics in the field of information technology:</span>
                        <ol>
                            <li class="list_requirment">Machine Learning and AI</li>
                            <li class="list_requirment">Cybersecurity and Network Security</li>
                            <li class="list_requirment">Cloud Computing and Big Data</li>
                            <li class="list_requirment">Software Engineering and Development</li>
                            <li class="list_requirment">Mobile Application Development</li>
                            <li class="list_requirment">Internet of Things (IoT) and Embedded Systems</li>
                        </ol>
                    </p>
                    <p class="notes">
                        <strong>Important Notes:</strong>
                        <ol>
                            <li class="list_notes">Please submit your paper in PDF or .DOC format. Any submissions not following this format will not be accepted.</li>
                            <li class="list_notes">Ensure that your file name is clear and understandable.</li>
                            <li class="list_notes">The system will automatically close <strong>at 11:59 PM on [Date/Month/Year]</strong>. Please adhere to the submission deadline to avoid any warnings.</li>
                        </ol>
                    </p>
                    <p>
                        We wish you success in completing your paper. We look forward to receiving excellent submissions from you. <br>
                        Best Regards, <br>
                        [Name of Coordinator]
                    </p>
                </div>
            </section>
            <section class="submission container">
                <div class="first_submission">
                    <h3 class="title_submission">
                        FIRST SUBMISSION
                        <div class="line"></div>
                    </h3>
                    <div class="date_submission">
                        <i class="fa-solid fa-file"></i>
                        <span>Due to 16 April 2024</span>
                    </div>
                    <div class="link_add_submission">
                        <a asp-action="Create">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span>Add Submissions</span>
                        </a>
                    </div>
                </div>
                <div class="re_submission">
                    <h3 class="title_submission">
                        RESUBMISSION
                        <div class="line"></div>
                    </h3>
                    <div class="date_submission">
                        <i class="fa-solid fa-file"></i>
                        <span>Due to 25 April 2024</span>
                    </div>
                    <div class="link_add_submission">
                        <a asp-action="Create">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span>Add Resubmissions</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="recently_submitted container">
                <h3 class="tittle_submitted">
                    RECENTLY SUBMITTED ARTICLES
                </h3>
                <div class="submitted_article">
@*                @foreach (var item in Model)
                {
                    if (item.AuthorID == loggedInUserId)
                    {
                    <a href="#">
                        <div class="item_submitted">
                            <div class="info_submitted">
                                <p class="title_item">
                                    Submission's name: @Html.DisplayFor(modelitem => item.Title)
                                </p>
                                <p class="">
                                    <strong>@Html.DisplayFor(modelitem => item.Faculty.FacultyName)</strong> - <strong>@Html.DisplayFor(modelitem => item.Category.CategoryName)</strong> - <strong>@Html.DisplayFor(modelitem => item.Author.Name)</strong>
                                </p>
                            </div>
                            <div class="btn_submitted">
                                <button class="btn_edit" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn_comment" type="button"><i class="fa-solid fa-comment"></i></button>
                            </div>
                        </div>
                    </a>
                    }
                }*@
@*                    <button id="view_all_btn" type="button">View All</button>*@
                </div>
            </section>
        </main>
    </section>

    <!-- Footer -->
    <footer>
        <div class="widget_container">
            <div class="widget_brand">
                <div class="animated_brand">
                    <div class="word">M</div>
                    <div class="word">A</div>
                    <div class="word">G</div>
                    <div class="word">A</div>
                    <div class="word">Z</div>
                    <div class="word">I</div>
                    <div class="word">N</div>
                    <div class="word">E</div>
                    <div class="blank"></div>
                    <div class="word">o</div>
                    <div class="word">f</div>
                    <div class="blank"></div>
                    <div class="word">U</div>
                    <div class="word">N</div>
                    <div class="word">I</div>
                    <div class="word">V</div>
                    <div class="word">E</div>
                    <div class="word">R</div>
                    <div class="word">S</div>
                    <div class="word">I</div>
                    <div class="word">T</div>
                    <div class="word">Y</div>
                </div>
                <!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> -->
            </div>
        </div>
        <div class="list_footer">
            <ul>
                <li class="title_list"><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Science</a></li>
                <li><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Engineering</a></li>
                <li><a href="#">Network Technology</a></li>
                <li><a href="#">Software Engineering</a></li>
                <li><a href="#">Management Information Systems</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Business administrator</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">International business</a></li>
                <li><a href="#">Hotel Management</a></li>
                <li><a href="#">Management of tourism and travel services</a></li>
                <li><a href="#">Multimedia management</a></li>
                <li><a href="#">Finance</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Graphic & digital design</a></li>
                <li><a href="#">Brand identity design</a></li>
                <li><a href="#">Marketing advertising design</a></li>
                <li><a href="#">Design UI/UX interface</a></li>
                <li><a href="#">Design publications and magazines</a></li>
                <li><a href="#">Motion graphic design - motion graphics</a></li>
                <li><a href="#">Art illustration design - illustration design</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
        </div>
        <div class="contact_footer">
            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cong Hoa Garden Building, No. 20 Cong Hoa, Ward 12, Tan Binh District, Ho Chi Minh City</p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>phatnhtgcs210259@fpt.edu.vn</p>
            </div>
        </div>
        <small class="block">Copyright &copy; 2024 Enterprise Web Software Development</small>
    </footer>
    <!-- Go to top -->
    <a href="#" class="js-gotop"><i class="fa-solid fa-chevron-up"></i></a>

    <!-- Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Main -->
    <script src="~/asset/js/main.js"></script>
    <script src="~/asset/js/more.js"></script>
    <script>
        // Show more comment
        document.addEventListener('DOMContentLoaded', function () {
            const showMoreButton = document.getElementById('view_all_btn');
            const submitted = document.querySelectorAll('.item_submitted');
            const submittedPerPage = 2;
            let visiblesubmitted = submittedPerPage;

            // Hide all submitted except the first `visiblesubmitted`
            for (let i = 0; i < submitted.length; i++) {
                if (i >= visiblesubmitted) {
                    submitted[i].style.display = 'none';
                }
            }

            // Add event listener to show more button
            showMoreButton.addEventListener('click', function () {
                visiblesubmitted += submittedPerPage;

                // Show next `submittedPerPage` submitted
                for (let i = 0; i < submitted.length; i++) {
                    if (i < visiblesubmitted) {
                        submitted[i].style.display = 'block';
                    }
                }

                // Hide "Show More submitted" button if all submitted are visible
                if (visiblesubmitted >= submitted.length) {
                    showMoreButton.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>

