@model WebTeam.Data.Semester

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
@*
<h1>Details</h1>

<div>
    <h4>Semester</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dl1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dl1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DL2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DL2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.FacultyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.AcademicYearID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="SemesterEdit" asp-route-id="@Model?.SemesterID">Edit</a> |
    <a asp-action="Semesters">Back to List</a>
</div>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          type="image/png"
          href="~/asset/img/taskbar.jpg" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet" />
    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Boostrap 5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <!-- link css -->
    <link rel="stylesheet" href="~/asset/css/main.css" />
    <link rel="stylesheet" href="~/asset/css/submission.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/asset/css/responsive.css" />
    <title>Magazine of University</title>
</head>
<body>
    <section class="allsubmission">
        <header>
            <section class="header_logo container">
                <div class="left">
                    <a class="home_icon" href="index.html">
                        <i class="fa-solid fa-house"></i>
                    </a>
                    <div class="container_search">
                        <div class="icon_search">
                            <i class="search fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="input_search">
                            <input type="text" placeholder="search" id="search" />
                            <i class="clear fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="brand_name">
                    <a href="index.html">Magazine of University</a>
                </div>
                <div class="right">
                    <button><i class="fa-solid fa-bell"></i></button>
                    <div class="dropdown">
                        <a class="btn dropdown_icon dropdown-toggle"
                           href="#"
                           role="button"
                           id="dropdownMenuLink"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <a class="dropdown-item" href="submission.html">Submission</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Recently seen</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
        <section class="main_content container">
            <div class="left_category">
                <ul>
                    <li>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="academicYear.html">Academic Year</a>
                    </li>
                    <li class="active_link">
                        <a href="semester.html">Semester</a>
                    </li>
                    <li>
                        <a href="faculty.html">Faculty</a>
                    </li>
                    <li>
                        <a href="account.html">Accounts</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="#">Articles</a>
                    </li>
                </ul>
            </div>
            <div class="right_category">
                <div class="top_page">
                    <p>HOME</p>
                    <span></span>
                    <p>Semester Detail</p>
                </div>
                <div class="edit_semester">
                    <div class="main_information">
                        <h3>Edit Details</h3>
                        <div class="author_article ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Semester Name:<br>
                                <div class="author_name bg-white p-3 mb-2 rounded">
                                    <input type="text"
                                           class="form-control border border-white"
                                           placeholder="Semester Name"
                                           aria-describedby="addon-wrapping">
                                </div>
                            </p>
                        </div>
                        <div class="status_publish ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Academic Year Name: <br>
                                <div class="status bg-white p-3 mb-2 rounded">
                                    <select class="form-select border border-white" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected>Select Academic Year Name: </option>
                                        <option value="1">Academic Year Name 1</option>
                                        <option value="2">Academic Year Name 2</option>
                                        <option value="3">Academic Year Name 3</option>
                                        <option value="4">Academic Year Name 4</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                        <div class="status_publish ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Faculty Name: <br>
                                <div class="status bg-white p-3 mb-2 rounded">
                                    <select class="form-select border border-white" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected>Select Faculty Name: </option>
                                        <option value="1">Information Technology</option>
                                        <option value="2">Bussiness Admistration</option>
                                        <option value="3">Graphics & Digital Design</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                        <div class="status_publish ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Submission Round: <br>
                                <div class="status bg-white p-3 mb-2 rounded">
                                    <select class="form-select border border-white" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected>Select Submission Round: </option>
                                        <option value="1">Submission Round 1</option>
                                        <option value="2">Submission Round 2</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                        <div class="last_modified ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Start Date: <br>
                                <div class="date_time_modified bg-white p-3 mb-2 rounded">
                                    <input type="date"
                                           class="form-control border border-white"
                                           placeholder="MM/DD/YY"
                                           aria-describedby="addon-wrapping">
                                </div>
                            </p>
                        </div>
                        <div class="feedback_content ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Closure Date: <br>
                                <div class="content_container bg-white p-3 mb-2 rounded">
                                    <input type="date"
                                           class="form-control text-break border border-white"
                                           placeholder="Closure Date"
                                           aria-describedby="addon-wrapping">
                                </div>
                            </p>
                        </div>
                        <div class="feedback_content ps-4">
                            <p class="d-block p-2 fs-5 text fw-bold">
                                Note: <br>
                                <div class="content_container bg-white p-3 mb-2 rounded">
                                    <input type="text"
                                           class="form-control text-break border border-white"
                                           placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                                           aria-describedby="addon-wrapping">
                                </div>
                            </p>
                        </div>
                        <div class="btn_group ps-4 mt-5">
                            <button type="button" class="btn btn-outline-success btn-lg me-3">
                                <i class="fa-regular fa-floppy-disk"></i> Save
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-lg me-3">
                                <i class="fa-solid fa-arrow-rotate-left"></i> Reset
                            </button>
                            <a href="semester.html"
                               type="button"
                               class="btn btn-outline-secondary btn-lg">
                                <i class="fa-solid fa-arrow-left"></i> Back to semester
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="/asset/js/main.js"></script>
    </section>
    <!-- Footer -->
    <footer>
        <div class="widget_container">
            <div class="widget_brand">
                <div class="animated_brand">
                    <div class="word">M</div>
                    <div class="word">A</div>
                    <div class="word">G</div>
                    <div class="word">A</div>
                    <div class="word">Z</div>
                    <div class="word">I</div>
                    <div class="word">N</div>
                    <div class="word">E</div>
                    <div class="blank"></div>
                    <div class="word">o</div>
                    <div class="word">f</div>
                    <div class="blank"></div>
                    <div class="word">U</div>
                    <div class="word">N</div>
                    <div class="word">I</div>
                    <div class="word">V</div>
                    <div class="word">E</div>
                    <div class="word">R</div>
                    <div class="word">S</div>
                    <div class="word">I</div>
                    <div class="word">T</div>
                    <div class="word">Y</div>
                </div>
                <!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> -->
            </div>
        </div>
        <div class="list_footer">
            <ul>
                <li class="title_list"><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Science</a></li>
                <li><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Engineering</a></li>
                <li><a href="#">Network Technology</a></li>
                <li><a href="#">Software Engineering</a></li>
                <li><a href="#">Management Information Systems</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Business administrator</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">International business</a></li>
                <li><a href="#">Hotel Management</a></li>
                <li><a href="#">Management of tourism and travel services</a></li>
                <li><a href="#">Multimedia management</a></li>
                <li><a href="#">Finance</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Graphic & digital design</a></li>
                <li><a href="#">Brand identity design</a></li>
                <li><a href="#">Marketing advertising design</a></li>
                <li><a href="#">Design UI/UX interface</a></li>
                <li><a href="#">Design publications and magazines</a></li>
                <li><a href="#">Motion graphic design - motion graphics</a></li>
                <li><a href="#">Art illustration design - illustration design</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
        </div>
        <div class="contact_footer">
            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>
                    Cong Hoa Garden Building, No. 20 Cong Hoa, Ward 12, Tan Binh
                    District, Ho Chi Minh City
                </p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>phatnhtgcs210259@fpt.edu.vn</p>
            </div>
        </div>
        <small class="block">Copyright &copy; 2024 Enterprise Web Software Development</small>
    </footer>
    <!-- Go to top -->
    <a href="#" class="js-gotop"><i class="fa-solid fa-chevron-up"></i></a>

    <!-- Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- Main -->
    <script src="~/asset/js/main.js"></script>
    <script src="~/asset/js/more.js"></script>
</body>
</html>
